stages:
  - build
  - test
  - deploy

build-master:
  stage: build
  script:
    - docker build -t registry.gitlab.com/labxp2018/smped-api/master .
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com 
    - docker push registry.gitlab.com/labxp2018/smped-api/master
  retry: 2
  only:
    - master
  tags:
    - docker

build-dev:
  stage: build
  script:
    - docker build -t registry.gitlab.com/labxp2018/smped-api/dev .
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker push registry.gitlab.com/labxp2018/smped-api/dev
  retry: 2
  only:
    - dev
  tags:
    - docker
  
test:
  image: python:3.6
  stage: test
  script:
    - pip install -r app/requirements.txt 
    - PYTHONPATH=$PWD/app pytest
  tags:
    - docker


deploy-master:
  image: stackahoy/stackahoy-cli
  stage: deploy
  script:
    - stackahoy deploy --repo="5b95e5f54779cb0e000bd7d8" --token=$STACKAHOY_TOKEN --branch="master"
  environment:
    name: master
  only:
    - master
  tags:
    - docker

deploy-dev:
  image: stackahoy/stackahoy-cli
  stage: deploy
  script:
    - stackahoy deploy --repo="5b95e5f54779cb0e000bd7d8" --token=$STACKAHOY_TOKEN --branch="dev"
  environment:
    name: dev
  only:
    - dev
  tags:
    - docker
