stages:
  - build
  - test
  - deploy

build-master:
  image: docker:latest
  services:
    - docker:dind
  stage: build
  script:
    - export DOCKER_HOST=tcp://docker:2375/
    - docker build -t registry.gitlab.com/labxp2018/smped-api/master:$CI_COMMIT_SHA .
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com 
    - docker push registry.gitlab.com/labxp2018/smped-api/master:$CI_COMMIT_SHA
  retry: 2
  only:
    - master
  tags:
    - docker

build-dev:
  image: docker:latest
  services:
    - docker:dind
  stage: build
  script:
    - export DOCKER_HOST=tcp://docker:2375/
    - docker build -t registry.gitlab.com/labxp2018/smped-api/dev:$CI_COMMIT_SHA .
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker push registry.gitlab.com/labxp2018/smped-api/dev:$CI_COMMIT_SHA
  retry: 2
  only:
    - dev
  tags:
    - docker
  
test:
  image: python:3.6
  stage: test
  script:
    - pip install -r app/requirements.txt 
    - PYTHONPATH=$PWD/app pytest
  tags:
    - docker


deploy-master:
  image: lachlanevenson/k8s-kubectl:latest
  stage: deploy
  script:
    - kubectl config set-credentials $KUBE_USERNAME/smped --username=$KUBE_USERNAME --password=$KUBE_PASSWORD
    - kubectl config set-cluster smped --insecure-skip-tls-verify=true --server=https://$KUBE_SERVER
    - kubectl config set-context default/smped/$KUBE_USERNAME --user=$KUBE_USERNAME/smped --namespace=default --cluster=smped
    - kubectl config use-context default/smped/$KUBE_USERNAME
    - kubectl get pods
  environment:
    name: master
  only:
    - master
  tags:
    - kubernetes

deploy-dev:
  image: lachlanevenson/k8s-kubectl:latest
  stage: deploy
  script:
    - kubectl config set-credentials $KUBE_USERNAME/smped --username=$KUBE_USERNAME --password=$KUBE_PASSWORD
    - kubectl config set-cluster smped --insecure-skip-tls-verify=true --server=https://$KUBE_SERVER
    - kubectl config set-context default/smped/$KUBE_USERNAME --user=$KUBE_USERNAME/smped --namespace=default --cluster=smped
    - kubectl config use-context default/smped/$KUBE_USERNAME
    - kubectl get pods
  environment:
    name: dev
  only:
    - dev
  tags:
    - kubernetes
