version: '3.6'
services:
  eve:
    build: .
    environment:
      - MONGO_URI=mongodb://mongo
      - REDIS_URL=redis://redis
    command: python run.py
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app 
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  redis:
    image: redis
    ports:
      - "6379:6379"

